* {
  box-sizing: border-box;
  font-family: var(--font-family);
}
:root {
  --bg-linear-gradient: linear-gradient(
    145deg,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --base-font-size: 15px;
  --base-font-weight: 700;
  --font-family: "Montserrat", sans-serif;
}
.main-conatiner {
  height: auto;
  width: auto;
}
@media only screen and (max-width: 1440px) {
  .inner-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--very-light-grayish-blue);
    background-image: url(bg-top.svg), url(bg-bottom.svg);
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
    justify-content: center;
    align-items: center;
  }
  .title {
    color: var(--grayish-blue);
    font-weight: bold;
    font-size: 20px;
  }
  .toggle-button {
    display: flex;
    color: var(--light-grayish-blue);
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bolder;
  }
  .annual {
    margin-right: 10%;
  }
  .monthly {
    margin-left: 10%;
  }
  .card-container {
    width: 80%;
    height: auto;
  }
  .card-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 33.33%;
    background: white;
    cursor: pointer;
    margin: 3px;
    border-radius: 8px;
  }

  .card:hover {
    background: var(--bg-linear-gradient);
    transform: scale(1.08);
    color: white;
  }
  .card:hover div {
    color: white;
  }
  .card:hover .card-button {
    background: white;
    color: hsl(237, 63%, 64%);
  }

  .card-title {
    font-weight: 700;
    font-size: 15px;
    margin: 15px 10px;
    color: var(--grayish-blue);
  }
  .card-price {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    color: var(--dark-grayish-blue);
  }
  .currency {
    font-weight: 700;
    font-size: 25px;
    margin-right: 4px;
  }
  .price {
    margin-left: 3px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 45px;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .card-content > div {
    color: var(--grayish-blue);
    font-weight: bold;
    font-size: 15px;
    word-spacing: 2.5px;
  }
  .border-top {
    border-top: 1.5px solid var(--very-light-grayish-blue);
    margin: 12px;
    width: 250px;
  }
  .card-button {
    margin-top: 10px;
    margin-bottom: 20px;
    background: var(--bg-linear-gradient);
    color: white;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 7px;
    font-size: 13px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 175px) and (max-width: 700px) {
  .main-container {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    overflow: scroll;
  }
  .inner-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 65vw;
    background-image: url(./bg-top.svg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 65%;
  }
  .title {
    margin-top: 20%;
    margin-bottom: 5%;
    font-size: 30px;
  }
  .toggle-button {
    margin-bottom: 10%;
  }
  .card-container {
    width: 100%;
    height: auto;
  }
  .card-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 80%;
    margin-bottom: 12%;
  }
  .card:hover {
    transform: scale(1);
  }
  .card-title {
    margin-top: 30px;
  }
  .card-button {
    margin-bottom: 10%;
  }
}
